@use "./variables/variables.scss";
@use "./mixins//mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$Font;
  @include mixins.list_text_none;
  scroll-behavior: smooth;
}



@media (prefers-color-scheme: dark) {
  body{
    background-color: #000;
  }

  p{
    color: #fff;
  }

  li{
    color: #fff;
  }
  
}