@use "../../../styles/variables/variables.scss" as variable;
@use "../../../styles/mixins/mixins.scss" as mixins;

.maxImg {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  height: auto;

  @include mixins.respond-to("medium") {
    width: 100%;
    max-width: 365px;
   margin-top: 1rem;
   
  }

  @include mixins.respond-to("large") {
    width: 100%;
    max-width: 550px;
  }

}
